version: '3.8'
services:
  backend:
    image: 269825205171.dkr.ecr.ap-south-1.amazonaws.com/actionstest-backend:latest
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - DB_NAME=appdb
      - DB_HOST=db  
      - DB_USER=appuser
      - DB_PASS=StrongPassword123
    depends_on:
      - db
    networks:
      - actions-networks

  frontend:
    image: 269825205171.dkr.ecr.ap-south-1.amazonaws.com/actionstest-frontend:latest
    ports:
      - "5173:8080"
    depends_on:
      - backend
    networks:
      - actions-networks

  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=StrongPassword123
      - MYSQL_DATABASE=appdb
      - MYSQL_USER=appuser
      - MYSQL_PASSWORD=StrongPassword123  
    ports:
      - "3306:3306"
    networks:
      - actions-networks
    
networks:
  actions-networks:
    driver: bridge
