name: Deploy to AWS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: productions
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION | \
          docker login --username AWS --password-stdin 269825205171.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com

      - name: Build and Push Backend
        run: |
          docker build -t actionstest-backend ./backend
          docker tag actionstest-backend:latest 269825205171.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/actionstest-backend:latest
          docker push 269825205171.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/actionstest-backend:latest

      - name: Build and Push Frontend
        run: |
          docker build -t actionstest-frontend ./frontend
          docker tag actionstest-frontend:latest 269825205171.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/actionstest-frontend:latest
          docker push 269825205171.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/actionstest-frontend:latest

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull 269825205171.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/actionstest-backend:latest
            docker pull 269825205171.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/actionstest-frontend:latest
            docker compose down
            docker compose up -d
